# Transform asif firms prepared data by constructing tfp_OP_f (estimate op TFP) to asif tfp firm level

# US Name

Transform asif firms prepared data by constructing tfp_OP_f (estimate op TFP) to asif tfp firm level 

# Business needs 

Transform asif firms prepared data by constructing tfp_OP_f (Estimate TFP using Olley and Pakes approach) to asif tfp firm level 

## Description
### Objective 

Use existing table asif firms prepared to construct ZZ

# Construction variables 

* tfp_OP_f

### Steps 

1. Remove outliers
2. Remove firm with different:
  1. ownership, cities and industries over time
3. Compute TFP using OP methodology


**Cautious**
Make sure there is no duplicates

# Target

* The file is saved in S3:
  * bucket: datalake-datascience
  * path: DATA/ECON/FIRM_SURVEY/ASIF_CHINA/TRANSFORMED/TFP/FIRM_LEVEL
* Glue data catalog should be updated
  * database:firms_survey
  * Table prefix:asif_tfp_
  * table name:asif_tfp_firm_level
* Analytics
  * HTML: ANALYTICS/HTML_OUTPUT/asif_tfp_firm_level
  * Notebook: ANALYTICS/OUTPUT/asif_tfp_firm_level

# Metadata

* Key: qdy59wtof20713d
* Parent key (for update parent):  
* Epic: Dataset transformation
* US: tfp_computation
* Task tag: #tfp,#productivity,#r_instance,#firm
* Notebook US Parent (i.e the one to update): 
https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/02_transform_tables/05_tfp_computation.md
* Reports: https://htmlpreview.github.io/?https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/02_transform_tables/Reports/05_tfp_computation.html
* Analytics reports:
https://htmlpreview.github.io/?https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/00_data_catalogue/HTML_ANALYSIS/ASIF_TFP_FIRM_LEVEL.html

# Input Cloud Storage [AWS/GCP]

## Table/file
* Name: 
* asif_firms_prepared
* Github: 
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/01_prepare_tables/00_prepare_asif.md

# Destination Output/Delivery
## Table/file
* Name:
* asif_tfp_firm_level
* GitHub:
* https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/02_transform_tables/05_tfp_computation.md

In [1]:
from awsPy.aws_authorization import aws_connector
from awsPy.aws_s3 import service_s3
from awsPy.aws_glue import service_glue
from pathlib import Path
import pandas as pd
#import numpy as np
import seaborn as sns
import os, shutil, json

path = os.getcwd()
parent_path = str(Path(path).parent.parent)


name_credential = 'financial_dep_SO2_accessKeys.csv'
region = 'eu-west-3'
bucket = 'datalake-datascience'
path_cred = "{0}/creds/{1}".format(parent_path, name_credential)

In [2]:
con = aws_connector.aws_instantiate(credential = path_cred,
                                       region = region)
client= con.client_boto()
s3 = service_s3.connect_S3(client = client,
                      bucket = bucket, verbose = True) 
glue = service_glue.connect_glue(client = client)

In [3]:
pandas_setting = True
if pandas_setting:
    cm = sns.light_palette("green", as_cmap=True)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_colwidth', None)

# Prepare query 

Write query and save the CSV back in the S3 bucket `datalake-datascience`

# Steps

1. Remove outliers: Remove 5 and 95% of the firms's output, employ and captal by year
2. Remove when Input >= Output
3. Remove firm with different:
    - ownership, cities and industries over time

Variables needed:

- ID: `firm`
- year: `year`
- Output: `output`
- Employement: `employ`
- Capital: `captal`
- Input: `midput`

## Example step by step

In [4]:
DatabaseName = 'firms_survey'
s3_output_example = 'SQL_OUTPUT_ATHENA'

Check all firm ID are digits.

In [5]:
query= """
SELECT test, COUNT(test) as count
FROM (
SELECT regexp_like(firm, '[a-zA-Z]') as test
FROM "firms_survey"."asif_firms_prepared"
  )
  GROUP BY test
"""
output = s3.run_query(
                    query=query,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'example_1'
                )
output

    test    count
0  False  1893513

Example firm with multiple cities, or ownerships or industries

In [6]:
query = """
WITH test as (
  SELECT 
    firm, 
    asif_firms_prepared.year, 
    output, 
    employ, 
    captal, 
    midput, 
    ownership, 
    geocode4_corr, 
    cic 
  FROM 
    asif_firms_prepared 
    INNER JOIN (
      SELECT 
        year, 
        approx_percentile(output,.05) AS output_lower_bound, 
        approx_percentile(output,.98) AS output_upper_bound, 
        approx_percentile(employ,.05) AS employ_lower_bound, 
        approx_percentile(employ,.98) AS employ_upper_bound, 
        approx_percentile(captal,.05) AS captal_lower_bound, 
        approx_percentile(captal,.98) AS captal_upper_bound 
      FROM 
        "firms_survey"."asif_firms_prepared" 
      GROUP BY 
        year
    ) as outliers ON asif_firms_prepared.year = outliers.year 
    INNER JOIN (
      SELECT 
        extra_code, 
        geocode4_corr 
      FROM 
        chinese_lookup.china_city_code_normalised 
      GROUP BY 
        extra_code, 
        geocode4_corr
    ) as no_dup_citycode ON asif_firms_prepared.citycode = no_dup_citycode.extra_code 
  WHERE 
    (
      output > output_lower_bound 
      -- AND output < output_upper_bound 
      AND employ > employ_lower_bound 
      -- AND employ < employ_upper_bound 
      AND captal > captal_lower_bound 
      -- AND output < captal_upper_bound 
      AND asif_firms_prepared.year >= '2001' 
      AND asif_firms_prepared.year <= '2007'
      AND output > midput 
      AND midput > 0
    )
) 
SELECT 
  test.firm, 
  year, 
  output, 
  employ, 
  captal, 
  midput, 
  ownership, 
  geocode4_corr,
  count_city,
  count_ownership,
  count_industry
FROM 
  test 
  INNER JOIN (
    SELECT 
      firm, 
      COUNT(
        DISTINCT(geocode4_corr)
      ) AS count_city 
    FROM 
      test 
    GROUP BY 
      firm
  ) as multi_cities ON test.firm = multi_cities.firm 
  INNER JOIN (
    SELECT 
      firm, 
      COUNT(
        DISTINCT(ownership)
      ) AS count_ownership 
    FROM 
      test 
    GROUP BY 
      firm
  ) as multi_ownership ON test.firm = multi_ownership.firm 
  INNER JOIN (
    SELECT 
      firm, 
      COUNT(
        DISTINCT(cic)
      ) AS count_industry 
    FROM 
      test 
    GROUP BY 
      firm
  ) as multi_industry ON test.firm = multi_industry.firm 
WHERE 
  test.firm  = '255463' 
  ORDER BY year
"""
output = s3.run_query(
                    query=query,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'example_2'
                )
output

,firm,year,output,employ,captal,midput,ownership,geocode4_corr,count_city,count_ownership,count_industry
0,255463,2001,67310,300,81729,37890,PRIVATE,3101,1,2,1
1,255463,2002,63220,306,81729,37990,PRIVATE,3101,1,2,1
2,255463,2003,55860,248,81729,52271,PRIVATE,3101,1,2,1
3,255463,2004,55300,235,30000,32946,COLLECTIVE,3101,1,2,1
4,255463,2005,47100,268,30000,44500,PRIVATE,3101,1,2,1
5,255463,2006,41150,261,30000,27299,COLLECTIVE,3101,1,2,1
6,255463,2007,38050,256,30000,10913,PRIVATE,3101,1,2,1

Make sure the number of observations before filtering is higher than after

In [7]:
query = """
WITH test as (
  SELECT 
    firm, 
    asif_firms_prepared.year, 
    output, 
    employ, 
    captal, 
    midput, 
    ownership, 
    geocode4_corr, 
    cic 
  FROM 
    asif_firms_prepared 
    INNER JOIN (
      SELECT 
        year, 
        approx_percentile(output,.05) AS output_lower_bound, 
        approx_percentile(output,.98) AS output_upper_bound, 
        approx_percentile(employ,.05) AS employ_lower_bound, 
        approx_percentile(employ,.98) AS employ_upper_bound, 
        approx_percentile(captal,.05) AS captal_lower_bound, 
        approx_percentile(captal,.98) AS captal_upper_bound 
      FROM 
        "firms_survey"."asif_firms_prepared" 
      GROUP BY 
        year
    ) as outliers ON asif_firms_prepared.year = outliers.year 
    INNER JOIN (
      SELECT 
        extra_code, 
        geocode4_corr 
      FROM 
        chinese_lookup.china_city_code_normalised 
      GROUP BY 
        extra_code, 
        geocode4_corr
    ) as no_dup_citycode ON asif_firms_prepared.citycode = no_dup_citycode.extra_code 
  WHERE 
    (
      output > output_lower_bound 
      -- AND output < output_upper_bound 
      AND employ > employ_lower_bound 
      -- AND employ < employ_upper_bound 
      AND captal > captal_lower_bound 
      -- AND output < captal_upper_bound 
      AND asif_firms_prepared.year >= '2001' 
      AND asif_firms_prepared.year <= '2007'
      AND output > midput 
      AND midput > 0
    )
) 
SELECT 
  COUNT(*) as count
FROM 
  test 

"""
output = s3.run_query(
                    query=query,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'example_3'
                )
output

     count
0  1234537

In [8]:
query = """
WITH test as (
  SELECT 
    firm, 
    asif_firms_prepared.year, 
    output, 
    employ, 
    captal, 
    midput, 
    ownership, 
    geocode4_corr, 
    cic 
  FROM 
    asif_firms_prepared 
    INNER JOIN (
      SELECT 
        year, 
        approx_percentile(output,.05) AS output_lower_bound, 
        approx_percentile(output,.98) AS output_upper_bound, 
        approx_percentile(employ,.05) AS employ_lower_bound, 
        approx_percentile(employ,.98) AS employ_upper_bound, 
        approx_percentile(captal,.05) AS captal_lower_bound, 
        approx_percentile(captal,.98) AS captal_upper_bound 
      FROM 
        "firms_survey"."asif_firms_prepared" 
      GROUP BY 
        year
    ) as outliers ON asif_firms_prepared.year = outliers.year 
    INNER JOIN (
      SELECT 
        extra_code, 
        geocode4_corr 
      FROM 
        chinese_lookup.china_city_code_normalised 
      GROUP BY 
        extra_code, 
        geocode4_corr
    ) as no_dup_citycode ON asif_firms_prepared.citycode = no_dup_citycode.extra_code 
  WHERE 
    (
      output > output_lower_bound 
      -- AND output < output_upper_bound 
      AND employ > employ_lower_bound 
      -- AND employ < employ_upper_bound 
      AND captal > captal_lower_bound 
      -- AND output < captal_upper_bound 
      AND asif_firms_prepared.year >= '2001' 
      AND asif_firms_prepared.year <= '2007'
      AND output > midput 
      AND midput > 0
    )
) 
SELECT 
  COUNT(*) AS count 
FROM 
  test 
  INNER JOIN (
    SELECT 
      firm, 
      COUNT(
        DISTINCT(geocode4_corr)
      ) AS count_city 
    FROM 
      test 
    GROUP BY 
      firm
  ) as multi_cities ON test.firm = multi_cities.firm 
  INNER JOIN (
    SELECT 
      firm, 
      COUNT(
        DISTINCT(ownership)
      ) AS count_ownership 
    FROM 
      test 
    GROUP BY 
      firm
  ) as multi_ownership ON test.firm = multi_ownership.firm 
  INNER JOIN (
    SELECT 
      firm, 
      COUNT(
        DISTINCT(cic)
      ) AS count_industry 
    FROM 
      test 
    GROUP BY 
      firm
  ) as multi_industry ON test.firm = multi_industry.firm 
WHERE 
  count_ownership = 1 
  AND count_city = 1 
  AND count_industry = 1 
"""
output = s3.run_query(
                    query=query,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'example_4'
                )
output

    count
0  586379

Count by year

In [9]:
query ="""
WITH test as ( 
  SELECT 
firm,
asif_firms_prepared.year, 
output,
employ,
captal,
midput,
ownership,
geocode4_corr,cic
FROM asif_firms_prepared 
INNER JOIN (
SELECT year,
approx_percentile(output, .05) AS output_lower_bound,
approx_percentile(output, .98) AS output_upper_bound,
approx_percentile(employ, .05) AS employ_lower_bound,
approx_percentile(employ, .98) AS employ_upper_bound,
approx_percentile(captal, .05) AS captal_lower_bound,
approx_percentile(captal, .98) AS captal_upper_bound
FROM "firms_survey"."asif_firms_prepared"
GROUP BY year
  ) as outliers 
  ON asif_firms_prepared.year = outliers.year
INNER JOIN (
            SELECT 
              extra_code, 
              geocode4_corr 
            FROM 
              chinese_lookup.china_city_code_normalised 
            GROUP BY 
              extra_code, 
              geocode4_corr
          ) as no_dup_citycode ON asif_firms_prepared.citycode = no_dup_citycode.extra_code
WHERE (
  output > output_lower_bound 
      -- AND output < output_upper_bound 
      AND employ > employ_lower_bound 
      -- AND employ < employ_upper_bound 
      AND captal > captal_lower_bound 
      -- AND output < captal_upper_bound 
      AND asif_firms_prepared.year >= '2001' 
      AND asif_firms_prepared.year <= '2007'
      AND output > midput 
      AND midput > 0
  )
  )
  SELECT 
  year, COUNT(*) as count
  FROM test
  INNER JOIN (
  SELECT firm,COUNT(DISTINCT(geocode4_corr)) AS count_city
  FROM test
  GROUP BY firm 
    ) as multi_cities
    ON test.firm = multi_cities.firm 
  INNER JOIN (
  SELECT firm, COUNT(DISTINCT(ownership)) AS count_ownership
  FROM test
  GROUP BY firm  
    ) as multi_ownership
    ON test.firm = multi_ownership.firm
  INNER JOIN (
  SELECT firm, COUNT(DISTINCT(cic)) AS count_industry
  FROM test
  GROUP BY firm  
    ) as multi_industry
  ON test.firm = multi_industry.firm
WHERE 
  count_ownership = 1 
  AND count_city = 1 
  AND count_industry = 1
 GROUP BY year
 ORDER BY year

"""
output = s3.run_query(
                    query=query,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'example_5'
                )
output

   year   count
0  2001   34935
1  2002   27332
2  2003   39081
3  2004  101393
4  2005  107956
5  2006  128510
6  2007  147516

# Table `asif_tfp_firm_level`

By default, the query saves the data in `SQL_OUTPUT_ATHENA/CSV`, however, please paste the S3 key where the table transformed by R should be saved.

In [10]:
s3_output = 'DATA/ECON/FIRM_SURVEY/ASIF_CHINA/TRANSFORMED/TFP/FIRM_LEVEL'
table_name = 'asif_tfp_firm_level'

LOCAL_PATH_CONFIG_FILE = os.path.join(str(Path(path).parent.parent),
                                      '00_data_catalogue',
                                      'temporary_local_data'
                                      )

path_temporary_file_out = os.path.join(str(Path(path).parent.parent),
                                      '00_data_catalogue',
                                      'temporary_local_data',
                                   table_name + ".csv"
                                      )

Clean up the folder with the previous csv file. Be careful, it will erase all files inside the folder

In [11]:
s3.remove_all_bucket(path_remove = s3_output)

True

In [12]:
query = """
WITH test as (
  SELECT 
    firm, 
    asif_firms_prepared.year, 
    output, 
    employ, 
    captal, 
    midput, 
    ownership, 
    geocode4_corr, 
    cic,
    CASE WHEN LENGTH(cic) = 4 THEN substr(cic, 1, 2) ELSE concat(
            '0', 
            substr(cic, 1, 1)
          ) END AS indu_2,
          output_upper_bound,
  employ_upper_bound,
  captal_upper_bound
  FROM 
    asif_firms_prepared 
    INNER JOIN (
      SELECT 
        year, 
        approx_percentile(output,.05) AS output_lower_bound, 
        approx_percentile(output,.98) AS output_upper_bound, 
        approx_percentile(employ,.05) AS employ_lower_bound, 
        approx_percentile(employ,.98) AS employ_upper_bound, 
        approx_percentile(captal,.05) AS captal_lower_bound, 
        approx_percentile(captal,.98) AS captal_upper_bound 
      FROM 
        "firms_survey"."asif_firms_prepared" 
      GROUP BY 
        year
    ) as outliers ON asif_firms_prepared.year = outliers.year 
    INNER JOIN (
      SELECT 
        extra_code, 
        geocode4_corr 
      FROM 
        chinese_lookup.china_city_code_normalised 
      GROUP BY 
        extra_code, 
        geocode4_corr
    ) as no_dup_citycode ON asif_firms_prepared.citycode = no_dup_citycode.extra_code 
  WHERE 
    (
      output > output_lower_bound 
      -- AND output < output_upper_bound 
      AND employ > employ_lower_bound 
      -- AND employ < employ_upper_bound 
      AND captal > captal_lower_bound 
      -- AND output < captal_upper_bound 
      AND asif_firms_prepared.year >= '2001' 
      AND asif_firms_prepared.year <= '2007'
      AND output > midput 
      AND midput > 0
    )
) 
SELECT 
  test.firm, 
  year, 
  output, 
  employ, 
  captal, 
  midput, 
  ownership, 
  geocode4_corr,
  indu_2,
  output_upper_bound,
  employ_upper_bound,
  captal_upper_bound

FROM 
  test 
  INNER JOIN (
    SELECT 
      firm, 
      COUNT(
        DISTINCT(geocode4_corr)
      ) AS count_city 
    FROM 
      test 
    GROUP BY 
      firm
  ) as multi_cities ON test.firm = multi_cities.firm 
  INNER JOIN (
    SELECT 
      firm, 
      COUNT(
        DISTINCT(ownership)
      ) AS count_ownership 
    FROM 
      test 
    GROUP BY 
      firm
  ) as multi_ownership ON test.firm = multi_ownership.firm 
  INNER JOIN (
    SELECT 
      firm, 
      COUNT(
        DISTINCT(cic)
      ) AS count_industry 
    FROM 
      test 
    GROUP BY 
      firm
  ) as multi_industry ON test.firm = multi_industry.firm 
WHERE 
  count_ownership = 1 
  AND count_city = 1 
  AND count_industry = 1 
"""

output = s3.run_query(
                    query=query,
                    database=DatabaseName,
                    s3_output='SQL_OUTPUT_ATHENA/CSV'
                )
output

{'Results': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2021, 1, 23, 5, 2, 38, 105000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2021, 1, 23, 5, 2, 44, 433000, tzinfo=tzlocal())},
 'QueryID': '19f8af72-dc4d-4bb0-84ec-80a402ff5882'}

Need to load the data to the instance

In [13]:
s3.download_file(
    key = os.path.join('SQL_OUTPUT_ATHENA/CSV', output['QueryID'] + ".csv"),
    path_local = LOCAL_PATH_CONFIG_FILE
)
os.rename(
    os.path.join(LOCAL_PATH_CONFIG_FILE,output['QueryID']+'.csv'),
    os.path.join(LOCAL_PATH_CONFIG_FILE,'temporary_file.csv'))

Load the data in the instance, and open it using R. **DONT FORGET TO WRITE AGAIN THE TABLE NAME**

In [14]:
from pathlib import Path
import os
table_name = "asif_tfp_firm_level"

path = os.getcwd()
path_temporary_file = os.path.join(str(Path(path).parent.parent),
                                      '00_data_catalogue',
                                      'temporary_local_data',
                                   'temporary_file.csv'
                                      )
path_temporary_file_out = os.path.join(str(Path(path).parent.parent),
                                      '00_data_catalogue',
                                      'temporary_local_data',
                                   table_name + ".csv"
                                      )

In [15]:
options(warn=-1)
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [16]:
%get path_temporary_file
df_input <- read_csv(path_temporary_file) 
df_input %>% head()

Parsed with column specification:
cols(
  firm = col_double(),
  year = col_double(),
  output = col_double(),
  employ = col_double(),
  captal = col_double(),
  midput = col_double(),
  ownership = col_character(),
  geocode4_corr = col_double(),
  indu_2 = col_character(),
  output_upper_bound = col_double(),
  employ_upper_bound = col_double(),
  captal_upper_bound = col_double()
)

  firm   year output employ captal midput ownership geocode4_corr indu_2
1 281611 2003 47675  371     3000  37624  PRIVATE   3712          23
2 275073 2003  6104  150     3600   4787  PRIVATE   3505          31
3 358098 2003  5500  200     3200   3493  PRIVATE   3505          31
4 354023 2003 33250  124    21416  24605  PRIVATE   3301          23
5 170614 2003 18980   30     3000  13244  PRIVATE   3604          23
6 273534 2003  5030   42     1000   4066  PRIVATE   3414          14
  output_upper_bound employ_upper_bound captal_upper_bound
1 491519             1919               151551
2 491519             1919               151551
3 491519             1919               151551
4 491519             1919               151551
5 491519             1919               151551
6 491519             1919               151551

Prepare R code for transformation, rename the final table `df_output`. Make sure there is no missing values, the crawler cannot handle missing values, neither any econometrics or machine learning model

Note that, we change the program to make sure we can use it within our environment. The original file can be found here https://github.com/GabrieleRovigatti/prodest/tree/master/prodest/R

We bring together the file https://github.com/GabrieleRovigatti/prodest/blob/master/prodest/R/auxFun.R and https://github.com/GabrieleRovigatti/prodest/blob/master/prodest/R/prodestOPLP.R. We change a few lines of codes to avoid issue with the data preparation.

In [17]:
path = "TFP_R_PROGRAM/program_OP_TFP.R"
source(path)

Estimate TFP excluding largest firms

In [18]:
df_train <- df_input %>% filter(
    output < output_upper_bound 
    & 
employ < employ_upper_bound
& 
captal < captal_upper_bound)
df_train$id_1 <- df_train %>% group_indices(firm) 
dim(df_train)

[1] 558494     13

In [19]:
import time
start_time = time.time()

In [20]:
OP.fit <- prodestOP(Y = log(df_train$output),
                    fX = log(df_train$employ),
                    sX= log(df_train$captal),
                    pX = log(df_train$midput),
                    idvar = df_train$id_1,
                    timevar = df_train$year)

In [21]:
(time.time() - start_time)/60

403.72067524194716

In [22]:
OP.fit

$pars
       fX1        sX1
0.04854086 0.12202777

$std.errors
         fX1          sX1
0.0006508753           NA

Compute the TFP using the coefficients of employment and capital.

TFP is predicted on all firms

In [23]:
df_input$tfp_OP <- log(df_input$output) - (log(df_input$employ) * OP.fit$pars[1] +
                                      log(df_input$captal) * OP.fit$pars[2])

In [25]:
df_output <- df_input #%>% select (-id_1)

In [26]:
glimpse(df_output)

Observations: 574,136
Variables: 13
$ firm               <dbl> 281611, 275073, 358098, 354023, 170614, 273534, 28…
$ year               <dbl> 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 20…
$ output             <dbl> 47675, 6104, 5500, 33250, 18980, 5030, 18187, 3395…
$ employ             <dbl> 371, 150, 200, 124, 30, 42, 110, 152, 77, 61, 629,…
$ captal             <dbl> 3000, 3600, 3200, 21416, 3000, 1000, 3105, 10800, …
$ midput             <dbl> 37624, 4787, 3493, 24605, 13244, 4066, 15015, 2594…
$ ownership          <chr> "PRIVATE", "PRIVATE", "PRIVATE", "PRIVATE", "PRIVA…
$ geocode4_corr      <dbl> 3712, 3505, 3505, 3301, 3604, 3414, 3712, 3304, 33…
$ indu_2             <chr> "23", "31", "31", "23", "23", "14", "31", "17", "2…
$ output_upper_bound <dbl> 491519, 491519, 491519, 491519, 491519, 491519, 49…
$ employ_upper_bound <dbl> 1919, 1919, 1919, 1919, 1919, 1919, 1919, 1919, 19…
$ captal_upper_bound <dbl> 151551, 151551, 151551, 151551, 151551, 151551, 15…
$ tfp_OP             <dbl> 9.507986, 7.474232, 7.370444, 8.960982, 8.709045, …

In [27]:
df_output %>% filter(firm == '246379')

  firm   year output  employ captal midput ownership geocode4_corr indu_2
1 246379 2005 1914473 2000   217402 701777 SOE       1301          16
2 246379 2003 1373106 2093   210402 545581 SOE       1301          16
3 246379 2001 1157875 2187   197402 517980 SOE       1301          16
4 246379 2004 1578605 2058   217402 629603 SOE       1301          16
5 246379 2002 1310458 1928   197402 566201 SOE       1301          16
  output_upper_bound employ_upper_bound captal_upper_bound tfp_OP
1 557055             1535               141311             12.59634
2 491519             1919               151551             12.26576
3 385023             2047               145407             12.10092
4 458751             1487               131071             12.40205
5 417791             1887               159743             12.23083

Save the data with R in the temporary folder `00_data_catalogue/temporary_local_data`.

If need to save the model, use `saveRDS(XX.fit, "XX.rds")` and choose another path in S3

In [28]:
%get path_temporary_file_out
write.csv(df_output, path_temporary_file_out, row.names=FALSE)

Save the data back in the S3 folder using Python

In [30]:
s3.upload_file(file_to_upload = path_temporary_file_out, destination_in_s3 = s3_output)

# Validate query

This step is mandatory to validate the query in the ETL. If you are not sure about the quality of the query, go to the next step.

To validate the query, please fillin the json below. Don't forget to change the schema so that the crawler can use it.

1. Add a partition key:
    - Inform if there is group in the table so that, the parser can compute duplicate
2. Add the steps number -> Not automtic yet. Start at 0
3. Change the schema if needed. It is highly recommanded to add comment to the fields
4. Provide a description -> detail the steps

1. Add a partition key

In [31]:
partition_keys = ['year', 'ownership']

2. Add the steps number

In [32]:
step = 3

3. Change the schema

Bear in mind that CSV SerDe (OpenCSVSerDe) does not support empty fields in columns defined as a numeric data type. All columns with missing values should be saved as string.

In [ ]:
#glue.get_table_information(
#    database = DatabaseName,
#    table = table_name)['Table']['StorageDescriptor']['Columns']

In [33]:
schema = [
    {
        "Name": "firm",
        "Type": "string",
        "Comment": "Firm ID"
    },
    {
        "Name": "year",
        "Type": "string",
        "Comment": ""
    },
    {
        "Name": "output",
        "Type": "double",
        "Comment": "output"
    },
    {
        "Name": "employ",
        "Type": "double",
        "Comment": "employement"
    },
    {
        "Name": "captal",
        "Type": "double",
        "Comment": "Capital"
    },
    {
        "Name": "midput",
        "Type": "double",
        "Comment": "Intermediate input"
    },
    {
        "Name": "ownership",
        "Type": "string",
        "Comment": "firm s ownership"
    },
    {
        "Name": "geocode4_corr",
        "Type": "string",
        "Comment": ""
    },
    {
        "Name": "indu_2",
        "Type": "string",
        "Comment": ""
    },
    {
        "Name": "output_upper_bound",
        "Type": "string",
        "Comment": ""
    },
    {
        "Name": "employ_upper_bound",
        "Type": "string",
        "Comment": ""
    },
    {
        "Name": "captal_upper_bound",
        "Type": "string",
        "Comment": ""
    },
    {
        "Name": "tfp_OP",
        "Type": "double",
        "Comment": "Estimate TFP using Olley and Pakes approach"
    }
]

4. Provide a description

In [34]:
description = """
Compute TFP using Olley and Pakes approach at the firm level
"""

5. provide metadata

- DatabaseName
- TablePrefix
-

In [36]:
DatabaseName = 'firms_survey'
TablePrefix = 'asif_tfp_'

In [37]:
json_etl = {
    'step': step,
    'description':description,
    'query':query,
    'schema': schema,
    'partition_keys':partition_keys,
    'metadata':{
    'DatabaseName' : DatabaseName,
    'TablePrefix' : TablePrefix,
    'target_S3URI' : os.path.join('s3://',bucket, s3_output),
    'from_athena': 'True'    
    }
}
json_etl

{'step': 3,
 'description': '\nCompute TFP using Olley and Pakes approach at the firm level\n',
 'query': '\nWITH test as (\n  SELECT \n    firm, \n    asif_firms_prepared.year, \n    output, \n    employ, \n    captal, \n    midput, \n    ownership, \n    geocode4_corr, \n    cic,\n    CASE WHEN LENGTH(cic) = 4 THEN substr(cic, 1, 2) ELSE concat(\n            \'0\', \n            substr(cic, 1, 1)\n          ) END AS indu_2,\n          output_upper_bound,\n  employ_upper_bound,\n  captal_upper_bound\n  FROM \n    asif_firms_prepared \n    INNER JOIN (\n      SELECT \n        year, \n        approx_percentile(output,.05) AS output_lower_bound, \n        approx_percentile(output,.98) AS output_upper_bound, \n        approx_percentile(employ,.05) AS employ_lower_bound, \n        approx_percentile(employ,.98) AS employ_upper_bound, \n        approx_percentile(captal,.05) AS captal_lower_bound, \n        approx_percentile(captal,.98) AS captal_upper_bound \n      FROM \n        "firms_survey"."asif_firms_prepared" \n      GROUP BY \n        year\n    ) as outliers ON asif_firms_prepared.year = outliers.year \n    INNER JOIN (\n      SELECT \n        extra_code, \n        geocode4_corr \n      FROM \n        chinese_lookup.china_city_code_normalised \n      GROUP BY \n        extra_code, \n        geocode4_corr\n    ) as no_dup_citycode ON asif_firms_prepared.citycode = no_dup_citycode.extra_code \n  WHERE \n    (\n      output > output_lower_bound \n      -- AND output < output_upper_bound \n      AND employ > employ_lower_bound \n      -- AND employ < employ_upper_bound \n      AND captal > captal_lower_bound \n      -- AND output < captal_upper_bound \n      AND asif_firms_prepared.year >= \'2001\' \n      AND asif_firms_prepared.year <= \'2007\'\n      AND output > midput \n      AND midput > 0\n    )\n) \nSELECT \n  test.firm, \n  year, \n  output, \n  employ, \n  captal, \n  midput, \n  ownership, \n  geocode4_corr,\n  indu_2,\n  output_upper_bound,\n  employ_upper_bound,\n  captal_upper_bound\n\nFROM \n  test \n  INNER JOIN (\n    SELECT \n      firm, \n      COUNT(\n        DISTINCT(geocode4_corr)\n      ) AS count_city \n    FROM \n      test \n    GROUP BY \n      firm\n  ) as multi_cities ON test.firm = multi_cities.firm \n  INNER JOIN (\n    SELECT \n      firm, \n      COUNT(\n        DISTINCT(ownership)\n      ) AS count_ownership \n    FROM \n      test \n    GROUP BY \n      firm\n  ) as multi_ownership ON test.firm = multi_ownership.firm \n  INNER JOIN (\n    SELECT \n      firm, \n      COUNT(\n        DISTINCT(cic)\n      ) AS count_industry \n    FROM \n      test \n    GROUP BY \n      firm\n  ) as multi_industry ON test.firm = multi_industry.firm \nWHERE \n  count_ownership = 1 \n  AND count_city = 1 \n  AND count_industry = 1 \n',
 'schema': [{'Name': 'firm', 'Type': 'string', 'Comment': 'Firm ID'},
  {'Name': 'year', 'Type': 'string', 'Comment': ''},
  {'Name': 'output', 'Type': 'double', 'Comment': 'output'},
  {'Name': 'employ', 'Type': 'double', 'Comment': 'employement'},
  {'Name': 'captal', 'Type': 'double', 'Comment': 'Capital'},
  {'Name': 'midput', 'Type': 'double', 'Comment': 'Intermediate input'},
  {'Name': 'ownership', 'Type': 'string', 'Comment': 'firm s ownership'},
  {'Name': 'geocode4_corr', 'Type': 'string', 'Comment': ''},
  {'Name': 'indu_2', 'Type': 'string', 'Comment': ''},
  {'Name': 'output_upper_bound', 'Type': 'string', 'Comment': ''},
  {'Name': 'employ_upper_bound', 'Type': 'string', 'Comment': ''},
  {'Name': 'captal_upper_bound', 'Type': 'string', 'Comment': ''},
  {'Name': 'tfp_OP',
   'Type': 'double',
   'Comment': 'Estimate TFP using Olley and Pakes approach'}],
 'partition_keys': ['year', 'ownership'],
 'metadata': {'DatabaseName': 'firms_survey',
  'TablePrefix': 'asif_tfp_',
  'target_S3URI': 's3://datalake-datascience/DATA/ECON/FIRM_SURVEY/ASIF_CHINA/TRANSFORMED/TFP/FIRM_LEVEL',
  'from_athena': 'True'}}

In [38]:
with open(os.path.join(str(Path(path).parent), 'parameters_ETL_Financial_dependency_pollution.json')) as json_file:
    parameters = json.load(json_file)

Remove the step number from the current file (if exist)

In [39]:
index_to_remove = next(
                (
                    index
                    for (index, d) in enumerate(parameters['TABLES']['TRANSFORMATION']['STEPS'])
                    if d["step"] == step
                ),
                None,
            )
if index_to_remove != None:
    parameters['TABLES']['TRANSFORMATION']['STEPS'].pop(index_to_remove)

In [40]:
parameters['TABLES']['TRANSFORMATION']['STEPS'].append(json_etl)

Save JSON

In [41]:
with open(os.path.join(str(Path(path).parent), 'parameters_ETL_Financial_dependency_pollution.json'), "w")as outfile:
    json.dump(parameters, outfile)

# Create or update the data catalog

The query is saved in the S3 (bucket `datalake-datascience`) but the table is not available yet in the Data Catalog. Use the function `create_table_glue` to generate the table and update the catalog.

Few parameters are required:

- name_crawler: Name of the crawler
- Role: Role to temporary provide an access tho the service
- DatabaseName: Name of the database to create the table
- TablePrefix: Prefix of the table. Full name of the table will be `TablePrefix` + folder name

To update the schema, please use the following structure

```
schema = [
    {
        "Name": "VAR1",
        "Type": "",
        "Comment": ""
    },
    {
        "Name": "VAR2",
        "Type": "",
        "Comment": ""
    }
]
```

In [42]:
name_crawler = 'table-test-parser'
Role = 'arn:aws:iam::468786073381:role/AWSGlueServiceRole-crawler-datalake'
#DatabaseName = 'firms_survey'
#TablePrefix = 'asif_tfp_'

In [43]:
target_S3URI = os.path.join('s3://',bucket, s3_output)
table_name = '{}{}'.format(TablePrefix, os.path.basename(target_S3URI).lower())

In [44]:
glue.create_table_glue(
    target_S3URI,
    name_crawler,
    Role,
    DatabaseName,
    TablePrefix,
    from_athena=True,
    update_schema=schema,
)

{'Name': 'asif_tfp_firm_level',
 'DatabaseName': 'firms_survey',
 'Owner': 'owner',
 'CreateTime': datetime.datetime(2021, 1, 23, 11, 53, 12, tzinfo=tzlocal()),
 'UpdateTime': datetime.datetime(2021, 1, 23, 11, 53, 19, tzinfo=tzlocal()),
 'LastAccessTime': datetime.datetime(2021, 1, 23, 11, 53, 12, tzinfo=tzlocal()),
 'Retention': 0,
 'StorageDescriptor': {'Columns': [{'Name': 'firm',
    'Type': 'string',
    'Comment': 'Firm ID'},
   {'Name': 'year', 'Type': 'string', 'Comment': ''},
   {'Name': 'output', 'Type': 'double', 'Comment': 'output'},
   {'Name': 'employ', 'Type': 'double', 'Comment': 'employement'},
   {'Name': 'captal', 'Type': 'double', 'Comment': 'Capital'},
   {'Name': 'midput', 'Type': 'double', 'Comment': 'Intermediate input'},
   {'Name': 'ownership', 'Type': 'string', 'Comment': 'firm s ownership'},
   {'Name': 'geocode4_corr', 'Type': 'string', 'Comment': ''},
   {'Name': 'indu_2', 'Type': 'string', 'Comment': ''},
   {'Name': 'output_upper_bound', 'Type': 'string', 'Comment': ''},
   {'Name': 'employ_upper_bound', 'Type': 'string', 'Comment': ''},
   {'Name': 'captal_upper_bound', 'Type': 'string', 'Comment': ''},
   {'Name': 'tfp_op', 'Type': 'double'}],
  'Location': 's3://datalake-datascience/DATA/ECON/FIRM_SURVEY/ASIF_CHINA/TRANSFORMED/TFP/FIRM_LEVEL/',
  'InputFormat': 'org.apache.hadoop.mapred.TextInputFormat',
  'OutputFormat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
  'Compressed': False,
  'NumberOfBuckets': -1,
  'SerdeInfo': {'SerializationLibrary': 'org.apache.hadoop.hive.serde2.OpenCSVSerde',
   'Parameters': {'escapeChar': '\\',
    'quoteChar': '"',
    'separatorChar': ',',
    'serialization.format': '1'}},
  'BucketColumns': [],
  'SortColumns': [],
  'Parameters': {'CrawlerSchemaDeserializerVersion': '1.0',
   'CrawlerSchemaSerializerVersion': '1.0',
   'UPDATED_BY_CRAWLER': 'table-test-parser',
   'areColumnsQuoted': 'false',
   'averageRecordSize': '110',
   'classification': 'csv',
   'columnsOrdered': 'true',
   'compressionType': 'none',
   'delimiter': ',',
   'exclusions': '["s3://datalake-datascience/DATA/ECON/FIRM_SURVEY/ASIF_CHINA/TRANSFORMED/TFP/FIRM_LEVEL/*.csv.metadata"]',
   'objectCount': '1',
   'recordCount': '457414',
   'sizeKey': '50315637',
   'skip.header.line.count': '1',
   'typeOfData': 'file'},
  'StoredAsSubDirectories': False},
 'PartitionKeys': [],
 'TableType': 'EXTERNAL_TABLE',
 'Parameters': {'CrawlerSchemaDeserializerVersion': '1.0',
  'CrawlerSchemaSerializerVersion': '1.0',
  'UPDATED_BY_CRAWLER': 'table-test-parser',
  'areColumnsQuoted': 'false',
  'averageRecordSize': '110',
  'classification': 'csv',
  'columnsOrdered': 'true',
  'compressionType': 'none',
  'delimiter': ',',
  'exclusions': '["s3://datalake-datascience/DATA/ECON/FIRM_SURVEY/ASIF_CHINA/TRANSFORMED/TFP/FIRM_LEVEL/*.csv.metadata"]',
  'objectCount': '1',
  'recordCount': '457414',
  'sizeKey': '50315637',
  'skip.header.line.count': '1',
  'typeOfData': 'file'},
 'CreatedBy': 'arn:aws:sts::468786073381:assumed-role/AWSGlueServiceRole-crawler-datalake/AWS-Crawler',
 'IsRegisteredWithLakeFormation': False,
 'CatalogId': '468786073381'}

In [45]:
query_count = """
SELECT COUNT(*) AS CNT
FROM {}.{} 
""".format(DatabaseName, table_name)
output = s3.run_query(
                    query=query_count,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'count_{}'.format(table_name)
                )
output

      CNT
0  574136

## Check Duplicates

One of the most important step when creating a table is to check if the table contains duplicates. The cell below checks if the table generated before is empty of duplicates. The code uses the JSON file to create the query parsed in Athena. 

You are required to define the group(s) that Athena will use to compute the duplicate. For instance, your table can be grouped by COL1 and COL2 (need to be string or varchar), then pass the list ['COL1', 'COL2']

In [46]:
partition_keys = ['firm', 'year']

with open(os.path.join(str(Path(path).parent), 'parameters_ETL_Financial_dependency_pollution.json')) as json_file:
    parameters = json.load(json_file)

In [47]:
### COUNT DUPLICATES
if len(partition_keys) > 0:
    groups = ' , '.join(partition_keys)

    query_duplicates = parameters["ANALYSIS"]['COUNT_DUPLICATES']['query'].format(
                                DatabaseName,table_name,groups
                                )
    dup = s3.run_query(
                                query=query_duplicates,
                                database=DatabaseName,
                                s3_output="SQL_OUTPUT_ATHENA",
                                filename="duplicates_{}".format(table_name))
    display(dup)

   CNT  CNT_DUPLICATE
0    1         574136

## Count missing values

In [48]:
#table = 'XX'
schema = glue.get_table_information(
    database = DatabaseName,
    table = table_name
)['Table']
schema

{'Name': 'asif_tfp_firm_level',
 'DatabaseName': 'firms_survey',
 'Owner': 'owner',
 'CreateTime': datetime.datetime(2021, 1, 23, 11, 53, 12, tzinfo=tzlocal()),
 'UpdateTime': datetime.datetime(2021, 1, 23, 11, 53, 19, tzinfo=tzlocal()),
 'LastAccessTime': datetime.datetime(2021, 1, 23, 11, 53, 12, tzinfo=tzlocal()),
 'Retention': 0,
 'StorageDescriptor': {'Columns': [{'Name': 'firm',
    'Type': 'string',
    'Comment': 'Firm ID'},
   {'Name': 'year', 'Type': 'string', 'Comment': ''},
   {'Name': 'output', 'Type': 'double', 'Comment': 'output'},
   {'Name': 'employ', 'Type': 'double', 'Comment': 'employement'},
   {'Name': 'captal', 'Type': 'double', 'Comment': 'Capital'},
   {'Name': 'midput', 'Type': 'double', 'Comment': 'Intermediate input'},
   {'Name': 'ownership', 'Type': 'string', 'Comment': 'firm s ownership'},
   {'Name': 'geocode4_corr', 'Type': 'string', 'Comment': ''},
   {'Name': 'indu_2', 'Type': 'string', 'Comment': ''},
   {'Name': 'output_upper_bound', 'Type': 'string', 'Comment': ''},
   {'Name': 'employ_upper_bound', 'Type': 'string', 'Comment': ''},
   {'Name': 'captal_upper_bound', 'Type': 'string', 'Comment': ''},
   {'Name': 'tfp_op', 'Type': 'double'}],
  'Location': 's3://datalake-datascience/DATA/ECON/FIRM_SURVEY/ASIF_CHINA/TRANSFORMED/TFP/FIRM_LEVEL/',
  'InputFormat': 'org.apache.hadoop.mapred.TextInputFormat',
  'OutputFormat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
  'Compressed': False,
  'NumberOfBuckets': -1,
  'SerdeInfo': {'SerializationLibrary': 'org.apache.hadoop.hive.serde2.OpenCSVSerde',
   'Parameters': {'escapeChar': '\\',
    'quoteChar': '"',
    'separatorChar': ',',
    'serialization.format': '1'}},
  'BucketColumns': [],
  'SortColumns': [],
  'Parameters': {'CrawlerSchemaDeserializerVersion': '1.0',
   'CrawlerSchemaSerializerVersion': '1.0',
   'UPDATED_BY_CRAWLER': 'table-test-parser',
   'areColumnsQuoted': 'false',
   'averageRecordSize': '110',
   'classification': 'csv',
   'columnsOrdered': 'true',
   'compressionType': 'none',
   'delimiter': ',',
   'exclusions': '["s3://datalake-datascience/DATA/ECON/FIRM_SURVEY/ASIF_CHINA/TRANSFORMED/TFP/FIRM_LEVEL/*.csv.metadata"]',
   'objectCount': '1',
   'recordCount': '457414',
   'sizeKey': '50315637',
   'skip.header.line.count': '1',
   'typeOfData': 'file'},
  'StoredAsSubDirectories': False},
 'PartitionKeys': [],
 'TableType': 'EXTERNAL_TABLE',
 'Parameters': {'CrawlerSchemaDeserializerVersion': '1.0',
  'CrawlerSchemaSerializerVersion': '1.0',
  'UPDATED_BY_CRAWLER': 'table-test-parser',
  'areColumnsQuoted': 'false',
  'averageRecordSize': '110',
  'classification': 'csv',
  'columnsOrdered': 'true',
  'compressionType': 'none',
  'delimiter': ',',
  'exclusions': '["s3://datalake-datascience/DATA/ECON/FIRM_SURVEY/ASIF_CHINA/TRANSFORMED/TFP/FIRM_LEVEL/*.csv.metadata"]',
  'objectCount': '1',
  'recordCount': '457414',
  'sizeKey': '50315637',
  'skip.header.line.count': '1',
  'typeOfData': 'file'},
 'CreatedBy': 'arn:aws:sts::468786073381:assumed-role/AWSGlueServiceRole-crawler-datalake/AWS-Crawler',
 'IsRegisteredWithLakeFormation': False,
 'CatalogId': '468786073381'}

In [49]:
from datetime import date
today = date.today().strftime('%Y%M%d')

In [50]:
table_top = parameters["ANALYSIS"]["COUNT_MISSING"]["top"]
table_middle = ""
table_bottom = parameters["ANALYSIS"]["COUNT_MISSING"]["bottom"].format(
    DatabaseName, table_name
)

for key, value in enumerate(schema["StorageDescriptor"]["Columns"]):
    if key == len(schema["StorageDescriptor"]["Columns"]) - 1:

        table_middle += "{} ".format(
            parameters["ANALYSIS"]["COUNT_MISSING"]["middle"].format(value["Name"])
        )
    else:
        table_middle += "{} ,".format(
            parameters["ANALYSIS"]["COUNT_MISSING"]["middle"].format(value["Name"])
        )
query = table_top + table_middle + table_bottom
output = s3.run_query(
    query=query,
    database=DatabaseName,
    s3_output="SQL_OUTPUT_ATHENA",
    filename="count_missing",  ## Add filename to print dataframe
    destination_key=None,  ### Add destination key if need to copy output
)
display(
    output.T.rename(columns={0: "total_missing"})
    .assign(total_missing_pct=lambda x: x["total_missing"] / x.iloc[0, 0])
    .sort_values(by=["total_missing"], ascending=False)
    .style.format("{0:,.2%}", subset=["total_missing_pct"])
    .bar(subset="total_missing_pct", color=["#d65f5f"])
)

# Update Github Data catalog

The data catalog is available in Glue. Although, we might want to get a quick access to the tables in Github. In this part, we are generating a `README.md` in the folder `00_data_catalogue`. All tables used in the project will be added to the catalog. We use the ETL parameter file and the schema in Glue to create the README. 

Bear in mind the code will erase the previous README.

In [51]:
README = """
# Data Catalogue

{}

    """

top_readme = """

## Table of Content

    """

template = """

## Table {0}

- Database: {1}
- S3uri: `{2}`
- Partitition: {3}

{4}

    """
github_link = os.path.join("https://github.com/", parameters['GLOBAL']['GITHUB']['owner'],
                           parameters['GLOBAL']['GITHUB']['repo_name'], "tree/master/00_data_catalogue#table-")
for key, value in parameters['TABLES'].items():
    if key == 'CREATION':
        param = 'ALL_SCHEMA'
    else:
        param = 'STEPS'
        
    for schema in parameters['TABLES'][key][param]:
        description = schema['description']
        DatabaseName = schema['metadata']['DatabaseName']
        target_S3URI = schema['metadata']['target_S3URI']
        partition = schema['partition_keys']
        
        if param =='ALL_SCHEMA':
            table_name = '{}{}'.format(
                schema['metadata']['TablePrefix'],
                os.path.basename(schema['metadata']['target_S3URI']).lower()
            )
        else:
            try:
                table_name = schema['metadata']['TableName']
            except:
                table_name = '{}{}'.format(
                schema['metadata']['TablePrefix'],
                os.path.basename(schema['metadata']['target_S3URI']).lower()
            )
        
        tb = pd.json_normalize(schema['schema']).to_markdown()
        toc = "{}{}".format(github_link, table_name)
        top_readme += '\n- [{0}]({1})'.format(table_name, toc)

        README += template.format(table_name,
                                  DatabaseName,
                                  target_S3URI,
                                  partition,
                                  tb
                                  )
README = README.format(top_readme)
with open(os.path.join(str(Path(path).parent.parent), '00_data_catalogue/README.md'), "w") as outfile:
    outfile.write(README)

# Analytics

In this part, we are providing basic summary statistic. Since we have created the tables, we can parse the schema in Glue and use our json file to automatically generates the analysis.

The cells below execute the job in the key `ANALYSIS`. You need to change the `primary_key` and `secondary_key`

For a full analysis of the table, please use the following Lambda function. Be patient, it can takes between 5 to 30 minutes. Times varies according to the number of columns in your dataset.

Use the function as follow:

- `output_prefix`:  s3://datalake-datascience/ANALYTICS/OUTPUT/TABLE_NAME/
- `region`: region where the table is stored
- `bucket`: Name of the bucket
- `DatabaseName`: Name of the database
- `table_name`: Name of the table
- `group`: variables name to group to count the duplicates
- `primary_key`: Variable name to perform the grouping -> Only one variable for now
- `secondary_key`: Variable name to perform the secondary grouping -> Only one variable for now
- `proba`: Chi-square analysis probabilitity
- `y_var`: Continuous target variables

Check the job processing in Sagemaker: https://eu-west-3.console.aws.amazon.com/sagemaker/home?region=eu-west-3#/processing-jobs

The notebook is available: https://s3.console.aws.amazon.com/s3/buckets/datalake-datascience?region=eu-west-3&prefix=ANALYTICS/OUTPUT/&showversions=false

Please, download the notebook on your local machine, and convert it to HTML:

```
cd "/Users/thomas/Downloads/Notebook"
aws s3 cp s3://datalake-datascience/ANALYTICS/OUTPUT/asif_unzip_data_csv/Template_analysis_from_lambda-2020-11-22-08-12-20.ipynb .

## convert HTML no code
jupyter nbconvert --no-input --to html Template_analysis_from_lambda-2020-11-21-14-30-45.ipynb
jupyter nbconvert --to html Template_analysis_from_lambda-2020-11-22-08-12-20.ipynb
```

Then upload the HTML to: https://s3.console.aws.amazon.com/s3/buckets/datalake-datascience?region=eu-west-3&prefix=ANALYTICS/HTML_OUTPUT/

Add a new folder with the table name in upper case

In [52]:
import boto3

key, secret_ = con.load_credential()
client_lambda = boto3.client(
    'lambda',
    aws_access_key_id=key,
    aws_secret_access_key=secret_,
    region_name = region)

In [53]:
primary_key = 'year'
secondary_key = 'ownership'
y_var = 'tfp_OP'

In [54]:
payload = {
    "input_path": "s3://datalake-datascience/ANALYTICS/TEMPLATE_NOTEBOOKS/template_analysis_from_lambda.ipynb",
    "output_prefix": "s3://datalake-datascience/ANALYTICS/OUTPUT/{}/".format(table_name.upper()),
    "parameters": {
        "region": "{}".format(region),
        "bucket": "{}".format(bucket),
        "DatabaseName": "{}".format(DatabaseName),
        "table_name": "{}".format(table_name),
        "group": "{}".format(','.join(partition_keys)),
        "keys": "{},{}".format(primary_key,secondary_key),
        "y_var": "{}".format(y_var),
        "threshold":0
    },
}
payload

{'input_path': 's3://datalake-datascience/ANALYTICS/TEMPLATE_NOTEBOOKS/template_analysis_from_lambda.ipynb',
 'output_prefix': 's3://datalake-datascience/ANALYTICS/OUTPUT/ASIF_TFP_FIRM_LEVEL/',
 'parameters': {'region': 'eu-west-3',
  'bucket': 'datalake-datascience',
  'DatabaseName': 'firms_survey',
  'table_name': 'asif_tfp_firm_level',
  'group': 'firm,year',
  'keys': 'year,ownership',
  'y_var': 'tfp_OP',
  'threshold': 0}}

In [55]:
response = client_lambda.invoke(
    FunctionName='RunNotebook',
    InvocationType='RequestResponse',
    LogType='Tail',
    Payload=json.dumps(payload),
)
response

{'ResponseMetadata': {'RequestId': '74168327-e056-44a5-8196-8727e8e74ed5',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sat, 23 Jan 2021 11:55:49 GMT',
   'content-type': 'application/json',
   'content-length': '75',
   'connection': 'keep-alive',
   'x-amzn-requestid': '74168327-e056-44a5-8196-8727e8e74ed5',
   'x-amzn-remapped-content-length': '0',
   'x-amz-executed-version': '$LATEST',
   'x-amz-log-result': 'U1RBUlQgUmVxdWVzdElkOiA3NDE2ODMyNy1lMDU2LTQ0YTUtODE5Ni04NzI3ZThlNzRlZDUgVmVyc2lvbjogJExBVEVTVApFTkQgUmVxdWVzdElkOiA3NDE2ODMyNy1lMDU2LTQ0YTUtODE5Ni04NzI3ZThlNzRlZDUKUkVQT1JUIFJlcXVlc3RJZDogNzQxNjgzMjctZTA1Ni00NGE1LTgxOTYtODcyN2U4ZTc0ZWQ1CUR1cmF0aW9uOiAyMzk1LjA1IG1zCUJpbGxlZCBEdXJhdGlvbjogMjM5NiBtcwlNZW1vcnkgU2l6ZTogMTI4IE1CCU1heCBNZW1vcnkgVXNlZDogODQgTUIJSW5pdCBEdXJhdGlvbjogMjgyLjYxIG1zCQo=',
   'x-amzn-trace-id': 'root=1-600c0ec2-11d86cea33b4fd5560b0e8a3;sampled=0'},
  'RetryAttempts': 0},
 'StatusCode': 200,
 'LogResult': 'U1RBUlQgUmVxdWVzdElkOiA3NDE2ODMyNy1lMDU2LTQ0YTUtODE5Ni04NzI3ZThlNzRlZDUgVmVyc2lvbjogJExBVEVTVApFTkQgUmVxdWVzdElkOiA3NDE2ODMyNy1lMDU2LTQ0YTUtODE5Ni04NzI3ZThlNzRlZDUKUkVQT1JUIFJlcXVlc3RJZDogNzQxNjgzMjctZTA1Ni00NGE1LTgxOTYtODcyN2U4ZTc0ZWQ1CUR1cmF0aW9uOiAyMzk1LjA1IG1zCUJpbGxlZCBEdXJhdGlvbjogMjM5NiBtcwlNZW1vcnkgU2l6ZTogMTI4IE1CCU1heCBNZW1vcnkgVXNlZDogODQgTUIJSW5pdCBEdXJhdGlvbjogMjgyLjYxIG1zCQo=',
 'ExecutedVersion': '$LATEST',
 'Payload': <botocore.response.StreamingBody at 0x7f0e58781610>}

# Generation report

In [56]:
import os, time, shutil, urllib, ipykernel, json
from pathlib import Path
from notebook import notebookapp

In [57]:
def create_report(extension = "html", keep_code = False, notebookname = None):
    """
    Create a report from the current notebook and save it in the 
    Report folder (Parent-> child directory)
    
    1. Exctract the current notbook name
    2. Convert the Notebook 
    3. Move the newly created report
    
    Args:
    extension: string. Can be "html", "pdf", "md"
    
    
    """
    
    ### Get notebook name
    connection_file = os.path.basename(ipykernel.get_connection_file())
    kernel_id = connection_file.split('-', 1)[0].split('.')[0]

    for srv in notebookapp.list_running_servers():
        try:
            if srv['token']=='' and not srv['password']:  
                req = urllib.request.urlopen(srv['url']+'api/sessions')
            else:
                req = urllib.request.urlopen(srv['url']+ \
                                             'api/sessions?token=' + \
                                             srv['token'])
            sessions = json.load(req)
            notebookname = sessions[0]['name']
        except:
            notebookname = notebookname  
    
    sep = '.'
    path = os.getcwd()
    #parent_path = str(Path(path).parent)
    
    ### Path report
    #path_report = "{}/Reports".format(parent_path)
    #path_report = "{}/Reports".format(path)
    
    ### Path destination
    name_no_extension = notebookname.split(sep, 1)[0]
    source_to_move = name_no_extension +'.{}'.format(extension)
    dest = os.path.join(path,'Reports', source_to_move)
    
    ### Generate notebook
    if keep_code:
        os.system('jupyter nbconvert --to {} {}'.format(
    extension,notebookname))
    else:
        os.system('jupyter nbconvert --no-input --to {} {}'.format(
    extension,notebookname))
    
    ### Move notebook to report folder
    #time.sleep(5)
    shutil.move(source_to_move, dest)
    print("Report Available at this adress:\n {}".format(dest))

In [ ]:
create_report(extension = "html", keep_code = True, notebookname = '05_tfp_computation.ipynb')